.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background: #074946;
}
.front-pic {
    height: 100vh;
    position: absolute;
    right: 0;
    max-width: 20%;
}
.content{
    margin: 25px;
    padding:20px 50px ;
    margin-left: 100px;
    width: 60%;
    background: #fff;
}
.flex-gap{
    display: flex;
    justify-content: space-between;
    
}
.big-title{
    font-size: 5rem;
    margin-block-end: 20px;
}
.nama{
    margin-top: 15%;
}
h2.subtitle{
    font-size: 2rem;
    font-weight: 300;
    
}
.btn-next{
    margin-block-end: 15%;
}