<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
</body>
</html> -->
<!-- {% load static %} -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- LOAD CSS FILE HERE -->
    <!-- <link href="{% static 'assets/extends/css/main.css' %}" rel="stylesheet" type="text/css"/> -->

    <title>Hello, Nadia</title>
  </head>
  <body>
    <!-- <h1>Hello, world!</h1> -->
    <div class="container">
        <div class="row flex">
            <div class="content col-lg-8 col-md-8 col-sm-8">
                <div class="row flex-gap">
                    <p>{{asal}}</p>
                    <p>{{birth}}</p>
                </div>
                <div class="row">
                        <h1 class="big-title nama">{{ name }}</h1>
                        <div class="col-lg-12">
                                <h2 class="subtitle">I am {{ age }} years old</h2><br>
                        </div>
                        <div class="col-lg-12">
                                <h2 class="subtitle">{{ keterangan }}</h2>
                                <!-- <button type="button" class="btn btn-next  btn-outline-success">NEXT</button> -->
                        </div>
                </div>
                <div class="row flex-gap">
                        <p></p>
                        <p>{{pekerjaan}}</p>
                </div>
                

                
            </div>
            <img class="front-pic" src="assets/extends/img/photos/foto@2x.png"> 

        </div>
        
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
<style>
.flex{
    display: flex;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background: #074946;
}
.front-pic {
    height: 100vh;
    position: absolute;
    right: 0;
    max-width: 20%;
}
.content{
    margin: 25px;
    padding:20px 50px ;
    margin-left: 100px;
    width: 60%;
    background: #fff;
}
.flex-gap{
    display: flex;
    justify-content: space-between;
    
}
.big-title{
    font-size: 5rem;
    margin-block-end: 20px;
}
.nama{
    margin-top: 15%;
}
h2.subtitle{
    font-size: 2rem;
    font-weight: 300;
    
}
.btn-next{
    margin-block-end: 15%;
}
</style>
